<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>

    <!-- 是否执行服务-->
    <add key="IsAlwaysRun" value="true"/>
    <add key="Internal" value="2000"/>
    <add key="WebStateCenterUrl"  value="http://localhost/WebStateCenter/Main.ashx"/>
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
