<?xml version="1.0" encoding="utf-8"?>
<MSMQConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Domains>
    <ConfigDomain>
      <Name>192.168.10.181</Name>
      <Value>ESvKEYyK/iZYFW2Zj16BRiaBCG0UmKM/ypHqZZqO+lQeIl0pvMRcvXWKU/roIuQNFDl7N5lMp0rDCBZ/HVGIda0yEvk5Ky/PKX5/LwSU+kQQc4g11EOilA==</Value>
    </ConfigDomain>
    <ConfigDomain>
      <Name>192.168.12.11</Name>
      <Value>ESvKEYyK/iZYFW2Zj16BRox3cKp1iImlFCJSQBuKTJMcqAsKeGsTO4LAxv2/uDrXuEliR/jVguOCD/yKMd9WQQXtjQ5e7zF4pO3F19kLwyTdfEhxOz3Shgw8DrwMOf3j</Value>
    </ConfigDomain>
    <ConfigDomain>
      <Name>192.168.10.182</Name>
      <Value>ESvKEYyK/iZYFW2Zj16BRiaBCG0UmKM/TDIb/mnH00keIl0pvMRcvXWKU/roIuQNd/YF4MMZcGmxOA6H6KXUvWlEP94aTzpB</Value>
    </ConfigDomain>
    <ConfigDomain>
      <Name>192.168.12.68</Name>
      <Value>ESvKEYyK/iZYFW2Zj16BRvofgIkzhBWb3J1XjkW7ukUcqAsKeGsTO4LAxv2/uDrXGcPvin5IUIUERFXjYlix8P2cYAkl/fgy</Value>
    </ConfigDomain>
    <ConfigDomain>
      <Name>192.1.1.30</Name>
      <Value>ESvKEYyK/iatIxJhZmz7epsLmVZegcBiHiJdKbzEXL11ilP66CLkDXf2BeDDGXBpjUU8Mgczpfz9nGAJJf34Mg==</Value>
    </ConfigDomain>
    <ConfigDomain>
      <Name>asasfs</Name>
      <Value>7MSStK36IjoOcSqIWzBx3x4iXSm8xFy9dYpT+ugi5A139gXgwxlwabE4DofopdS9aUQ/3hpPOkE=</Value>
    </ConfigDomain>
  </Domains>
  <Nodes>
    <MSMQConfigNode>
      <Instance />
      <Domain>192.168.10.181</Domain>
      <CategoryName>MSMQ Service</CategoryName>
      <CounterName>Outgoing Messages/sec</CounterName>
    </MSMQConfigNode>
    <MSMQConfigNode>
      <Instance>apollo-bw\private$\lxy</Instance>
      <Domain>192.168.10.181</Domain>
      <CategoryName>MSMQ Queue</CategoryName>
      <CounterName>Messages in Queue</CounterName>
    </MSMQConfigNode>
    <MSMQConfigNode>
      <Instance />
      <Domain>192.168.10.181</Domain>
      <CategoryName>MSMQ Service</CategoryName>
      <CounterName>Incoming Messages/sec</CounterName>
    </MSMQConfigNode>
    <MSMQConfigNode>
      <Instance>xyliu\private$\lxy</Instance>
      <Domain>192.168.12.11</Domain>
      <CategoryName>MSMQ Queue</CategoryName>
      <CounterName>Messages in Queue</CounterName>
    </MSMQConfigNode>
  </Nodes>
</MSMQConfig>