<?xml version="1.0" encoding="utf-8"?>
<MSMQConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Domains>
    <ConfigDomain>
      <Name>181</Name>
      <Value>ESvKEYyK/iZYFW2Zj16BRiaBCG0UmKM/ypHqZZqO+lQeIl0pvMRcvXWKU/roIuQNFDl7N5lMp0rDCBZ/HVGIda0yEvk5Ky/PKX5/LwSU+kQQc4g11EOilA==</Value>
    </ConfigDomain>
    <ConfigDomain>
      <Name>192.168.10.181</Name>
      <Value>ESvKEYyK/iZYFW2Zj16BRiaBCG0UmKM/ypHqZZqO+lQeIl0pvMRcvXWKU/roIuQNFDl7N5lMp0rDCBZ/HVGIda0yEvk5Ky/PKX5/LwSU+kQQc4g11EOilA==</Value>
    </ConfigDomain>
    <ConfigDomain>
      <Name>192.168.10.182</Name>
      <Value>ESvKEYyK/iZYFW2Zj16BRiaBCG0UmKM/TDIb/mnH00keIl0pvMRcvXWKU/roIuQNFDl7N5lMp0rDCBZ/HVGIda0yEvk5Ky/PKX5/LwSU+kQQc4g11EOilA==</Value>
    </ConfigDomain>
  </Domains>
  <Nodes>
    <MSMQConfigNode>
      <Instance />
      <Domain>192.168.10.181</Domain>
      <CategoryName>MSMQ Service</CategoryName>
      <CounterName>Outgoing Messages/sec</CounterName>
    </MSMQConfigNode>
    <MSMQConfigNode>
      <Instance>apollo-bw\private$\lxy</Instance>
      <Domain>192.168.10.181</Domain>
      <CategoryName>MSMQ Queue</CategoryName>
      <CounterName>Messages in Queue</CounterName>
    </MSMQConfigNode>
    <MSMQConfigNode>
      <Instance />
      <Domain>192.168.10.181</Domain>
      <CategoryName>MSMQ Service</CategoryName>
      <CounterName>Incoming Messages/sec</CounterName>
    </MSMQConfigNode>
  </Nodes>
</MSMQConfig>