<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebStateCenterUrl" value="http://localhost/WebStateCenter/Main.ashx"/>
    <add key="BeatAppName" value="Nurse.Test.Exe"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>